<!doctype html>
<html lang="en">

<head>
	<title>即刻简历</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="../../static/img/logo/logoPic.png">
    <link rel="stylesheet" href="../../static/css/root.css">
	<link rel="stylesheet" href="../../static/css/main-index.css">

</head>

<body>
	<div id="loading" class="loading-wrap" style="display: block;">
		<div class="loader" >
			<div class="la-ball-clip-rotate-multiple la-3x">
				<div></div>
				<div></div>
			</div>
			<div class="loaderTxt">数据交互中...</div>
		</div>
	</div>
	<input type="hidden" id="token">
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav id="navbar-menu" class="navbar navbar-default navbar-fixed-top" style="height: 80px;">
			<div class="brand" style="padding: 0px 50px;line-height: 80px;background: none">
				{{/*<a href="index.html"><img src="../../static/back/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>*/}}
                <a href="/main"><p style="font-family: Panxiang;font-size: 26px">即刻简历</a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn" style="line-height: 90px;padding: 0px 0px;margin-top: 0px">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
						{{/*<button type="button" class="btn-toggle-fullwidth"><img id="menu" width="30" src="../../static/img/close.png"></button>*/}}
				</div>
				{{/*===<form class="navbar-form navbar-left">
					<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>
				</form>*/}}
				{{/*<div class="navbar-btn navbar-btn-right">
					<a class="btn btn-success update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
				</div>*/}}
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right" style="height: 80px;">
						{{/*<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>*/}}
						{{/*<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>*/}}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="../../static/img/avatar.png" style="width: 35px;" class="avatar" alt="Avatar"> <span id="account">{{.account}}</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="javascript:$('#profileSetting').click();"><i class="lnr lnr-user"></i> <span>个人设置</span></a></li>
								<li><a href="javascript:$('#message').click();"><i class="lnr lnr-envelope"></i> <span>消息提醒</span></a></li>
								<li><a href="javascript:void(0);"><i class="lnr lnr-cog"></i> <span>系统设置</span></a></li>
								<li><a href="/timeout"><i class="lnr lnr-exit"></i> <span>退出</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->

		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul id="navUl" class="nav">
						<li id="home" onclick="redirect('home',this)"><i class="lnr lnr-home"></i> <span>首页</span></li>
                        <li id="made" onclick="redirect('mades',this)"><i class="lnr lnr-hand"></i> <span>我的制作</span></li>
						{{/*<li onclick="redirect('views',this)"><i class="lnr lnr-eye"></i> <span>我的查看</span></li>
						<li onclick="redirect('likes',this)"><i class="lnr lnr-heart"></i> <span>我的喜欢</span></li>*/}}
						<li id="message" onclick="redirect('news',this)"><i class="lnr lnr-envelope"></i> <span>消息提醒</span></li>
						<li id="profileSetting" onclick="redirect('profile',this)"><i class="lnr lnr-user"></i> <span>个人设置</span></li>
						<li style="display: none" id="last" onclick="redirect('',this)">
							<a href="#subPages"  data-toggle="collapse" class="collapsed"><i class="lnr lnr-inbox"></i> <span>基础信息</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse " style="margin-top: 8px;">
								<ul class="nav" >
									<li onclick="redirect('models',this)">模板管理</li>
                                    <li onclick="redirect('models',this)">模板管理2</li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->

		<!-- MAIN -->
		<div class="main">
            {{/*seamless*/}}
            <iframe id="mainframe" name="myFrame" width="100%" height="100%" src="" frameborder="0" data-id="" ></iframe>
		</div>
		<!-- END MAIN -->

		<div class="clearfix"></div>

		{{/*<footer>
			<div class="container-fluid">
				<p class="copyright">Copyright &copy; 2017.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				
			</div>
		</footer>*/}}
	</div>
	<!-- END WRAPPER -->

    <!-- 我的制作-模态框（Modal） -->
    <div class="modal fade" id="madeModal" style="overflow-y: auto" tabindex="-1"  data-backdrop="static" role="dialog" aria-labelledby="madeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="modalClose" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h3 style="font-weight: 700" class="modal-title" id="editModalLabel">
                        编辑简历<span style="font-size: 13px;font-weight: 300">(<span class="red">*</span>为必填)</span>
                    </h3>
                    <span class="form-label" id="pageTitle">基础信息</span>
                    <span class="form-label" style="float: right"><span id="curPage">1</span>/5</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" autocomplete="off">

                        <div class="page"  id="page1" >
                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">重置链接<span class="red"></span></label>
                                <div class="col-sm-8" id="reset">
                                    <input id="editId" type="hidden">
                                    <input id="editUid" type="hidden">
                                    <input id="editRid" type="hidden">
                                    <input id="editSid" type="hidden">
                                    <input id="editIndex" type="hidden">
                                    <button type="button" id="resetBtn" class="btn btn-danger">一键重置</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">姓名<span class="red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" style="ime-mode:disabled" id="name" placeholder="姓名" >
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">求职意向<span class="red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="20" style="ime-mode:disabled" id="objective"  placeholder="求职意向">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">性别</label>
                                <div class="col-sm-8">
                                    <div class="radio" style="margin-top:5px;float: left;border: 0px solid red;height: 35px;line-height: 15px;">
                                        <input style="outline: none !important;" type="radio" name="radio" id="radio1" value="男">
                                        <label for="radio1">
                                            男
                                        </label>
                                    </div>
                                    <div class="radio" style="margin-top:5px;float: left;border: 0px solid red;height: 35px;line-height: 15px;margin-left: 8px;">
                                        <input tabindex="-1" type="radio" name="radio" id="radio2" value="女">
                                        <label for="radio2">
                                            女
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">出生日期<span class="red">*</span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="birthday" type="date" value="2018-01-01" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">手机<span class="red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" maxlength="11" style="ime-mode:disabled" id="phone"  placeholder="手机">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">邮箱<span class="red">*</span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="email" placeholder="邮箱" >
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="page" id="page2" style="display: none">

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">籍贯信息<span class="red"></span></label>
                                <div class="col-sm-8" id="distpicker" >
                                    <select class="form-control" style="width: 48%;display: inline-block;" id="province" ></select>
                                    <select class="form-control" style="width: 50%;display: inline-block;" id="city" ></select>
                                    <select class="form-control " style="width: 33%;display: none;"  id="district" ></select>
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">居住地址<span class="red"></span></label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="40"  id="address"  placeholder="居住地址">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">兴趣爱好</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" maxlength="60"  id="hobby"  placeholder="兴趣爱好">
                                    <span class="help-block"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">荣誉证书<span class="red"></span></label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="honor" type="text" placeholder="荣誉证书" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label form-label">自我评价<span class="red">*</span></label>
                                <div class="col-sm-8">
                                    <textarea id="introduce" class="form-control" style="min-height: 120px;resize: vertical"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="page" id="page3" style="display: none">
                            <div id="workWrap">
                                <div id="workItem" class="workItem" style="margin-top: 3px;padding-top: 5px;">
                                    <div class="del4work" style="width: 100%;text-align: right;margin-top: -10px;display: none"><button class="btn btn-danger btn-xs" title="删除当前项"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
                                    <div class="form-group alertPickDate">
                                        <label class="col-sm-3 control-label form-label">起止时间<span class="red"></span></label>
                                        <div class="col-sm-4" style="border: 0px solid red;">
                                            <input type="month" value="2018-01" class="form-control start">
                                        </div>
                                        <div class="col-sm-4" style="border: 0px solid red;">
                                            <input type="month" value="2018-01" class="form-control end">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label form-label">公司名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control companyName" maxlength="60"   placeholder="公司名称">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label form-label">职位名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control position" maxlength="60"   placeholder="职位名称">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label form-label">工作描述<span class="red"></span></label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" placeholder="工作描述" style="min-height: 120px;resize: vertical"></textarea>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button type="button" id="save4work" class="btn btn-primary" style="margin-top: 15px;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;新增当前项
                                    </button>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="page" id="page4" style="display: none">
                            <div id="skillWrap">
                                <div class="skillItem" style="margin-top: 3px;padding-top: 5px;">
                                    <div class="del4skill" style="width: 100%;text-align: right;margin-top: -10px;display: none"><button class="btn btn-danger btn-xs" title="删除当前项"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label form-label">技能名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control skillName" maxlength="60" placeholder="技能名称">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label form-label">熟练度<span class="red"></span></label>
                                        <div class="col-sm-8">
                                            <input  class="slide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="75"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button type="button" id="save4skill" class="btn btn-primary" style="margin-top: 25px;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;新增当前项
                                    </button>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                        <div class="page" id="page5" style="display: none">
                            <div id="eduWrap">
                                <div class="eduItem" style="margin-top: 3px;padding-top: 5px;">
                                    <div class="del4edu" style="width: 100%;text-align: right;margin-top: -10px;display: none"><button class="btn btn-danger btn-xs" title="删除当前项"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
                                    <div class="form-group alertPickDate">
                                        <label class="col-sm-3 control-label form-label">起止时间<span class="red"></span></label>
                                        <div class="col-sm-4" style="border: 0px solid red;">
                                            <input type="month" value="2018-01" class="form-control start">
                                        </div>
                                        <div class="col-sm-4" style="border: 0px solid red;">
                                            <input type="month" value="2018-01" class="form-control end">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label form-label">学校/机构名称</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control school" maxlength="60" placeholder="学校/机构名称">
                                            <span class="help-block"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label form-label">教育信息<span class="red"></span></label>
                                        <div class="col-sm-8">
                                            <textarea class="form-control" placeholder="教育信息" style="min-height: 120px;resize: vertical"></textarea>
                                            <span class="help-block"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12" style="text-align: center;">
                                    <button type="button" id="save4edu" class="btn btn-primary" style="margin-top: 15px;">
                                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;新增当前项
                                    </button>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <div id="tip" style="text-align: center"></div>
                    <button type="button" id="prev" class="btn btn-default" style="float: left;display: none" >
                        上一页
                    </button>
                    <button type="button" id="next" class="btn btn-default" >
                        下一页
                    </button>
                    <button type="button" id="preview" class="btn btn-success" style="display: none">
                        提交更新
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Javascript -->
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../../static/back/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../../static/back/assets/scripts/klorofil-common.js"></script>
    <script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>
	<script src="../../static/js/util.js"></script>
    <script src="../../static/js/resume4made.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-slider/10.2.1/bootstrap-slider.min.js"></script>
    <script src="../../static/plugins/citySelect/distpicker.data.js"></script>
    <script src="../../static/plugins/citySelect/distpicker.js"></script>
	<script>
		var userInfo;
		var token;

        //动态更改iframe高度
        $(window.parent.document).find("#mainframe").load(function(){
            var main = $(window.parent.document).find("#mainframe");
            var thisHeight = window.innerHeight+100;
            //var width = window.innerWidth;
            main.height(thisHeight);
        });

		$(function () {
			userInfo = {{.userInfo}};
            if(userInfo.Type>2){
                $('#last').show();
            }
            //$('#account').html(userInfo.Account);
            if(isPhone()){//设置导航栏箭头方向
                $('.btn-toggle-fullwidth').find("i").removeClass("lnr-arrow-left-circle");
                $('.btn-toggle-fullwidth').find("i").addClass("lnr-arrow-right-circle");
            }

            var myFrame = document.getElementById('mainframe');
            myFrame.onload = myFrame.onreadystatechange = function () {
                if (this.readyState && this.readyState != 'complete') {
                    //console.log("加载中。。。");
                }
                else {
                    //console.log("加载完成。。。");
                    $('#loading').hide();
                }
            }


			var is2made = {{.is2made}};
			if(is2made){
			    $('#made').click();
			}else{
			    $('#home').click();
			}

            $('#madeModal').on('hide.bs.modal', function () {
                //$('#wrapper').show(200);
            });

            $('#modalClose').on("click",function () {//模态框关闭按钮
                $('#wrapper').show(200);
            });


        });
        function redirect(htmlName,obj){
            if(htmlName){
                $('#loading').show(200);
            }
            $('#navUl li').each(function (index) {//全置默认
				$(this).removeClass("navItemActive");
                $(this).find("i").removeClass("navItemActive4span");
                $(this).find("span").removeClass("navItemActive4span");

            });
            //设置选中
            $(obj).addClass("navItemActive");
            $(obj).find("i").addClass("navItemActive4span");
            $(obj).find("span").addClass("navItemActive4span");
            if(isPhone()){
                $('.btn-toggle-fullwidth').click();
			}
            if(!htmlName){
                return;
			}
            if(htmlName==="models"){
				$('#subPages').addClass("active");
            }
            var url = "/main/redirect?htmlName="+htmlName;
            $('#mainframe').attr("src",url);
        }

        function swalInfo(title,msg,type){
            swal(title,msg,type);
        }

        function loading(flag) {
            if(flag){
                $('#loading').show();
            }else{
                $('#loading').hide();
            }
        }

	</script>
</body>

</html>
