<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>即刻简历</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Favicon -->
    <link rel="icon" type="image/ico" href="../../static/img/logo/logoPic.png">
    <link rel="stylesheet" href="../../static/css/root.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/awesome-bootstrap-checkbox/v0.2.3/awesome-bootstrap-checkbox.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-slider/10.2.1/css/bootstrap-slider.min.css" rel="stylesheet">
    <style>
        .resume-item{
            padding-bottom: 10px;
            margin-bottom: 0px;
            border: 1px solid #DCE6EB;
            margin-bottom: 15px;
            min-height: 355px;
        }
        .resume-item:hover{
            border-color:#6195FF;
        }
        .resume-item img {
            display: block;
            margin: auto;
            max-width: 100%;
            height: auto;
            transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            -o-transition: opacity 0.35s, -o-transform 0.35s;
            vertical-align: middle;
        }
        .resume-item .head{
            box-sizing:inherit;
            width: 100%;
            background: rgba(43, 51, 62, 0.95);
            color: #ffffff;
            position: relative;
            top:0px;
            padding:8px;
        }
        .resume-item .head h{
            margin-bottom: 5px;
        }
        .resume-item .bottom{
            width: calc(100% - 35px);
            box-sizing:inherit;
            text-align: center;
            position: absolute;
            bottom:5px;
            padding-bottom: 10px;
            margin-bottom: 15px;
        }
        .resume-item .used{
            width: calc(100% - 32px);
            box-sizing:inherit;
            text-align: center;
            position: absolute;
            bottom:16px;
            color: #ffffff;
            font-size: 18px;
            background: rgba(245,0,0,0.75);
            padding-top: 15px;
            padding-bottom: 14px;
        }

    </style>
</head>
<body style="padding-bottom: 15%">
<div id="loading" class="loading-wrap" style="display: none;">
    <div class="loader" >
        <div class="la-ball-clip-rotate-multiple la-3x">
            <div></div>
            <div></div>
        </div>
        <div class="loaderTxt">数据交互中...</div>
    </div>
</div>
<div id="mainContent" class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">我的制作</h3>
        <hr>
        <p>温馨提示:如果您不想别人随意的查看您的简历,通过'编辑简历'重置简历分享链接即可.</p>
    </div>
    <div class="panel-body">
        <div class="row" id="resumeWrap">
            <div class="col-md-3" >
                <div class="resume-item">
                    <div class="head">
                        <h4>全屏简约个人主页模板</h4>
                        <div class="type">分类:时尚创意</div>
                    </div>
                    <img src="../../static/img/zooori.jpg">
                    <div class="bottom">
                        <button class="btn btn-primary">使用模板</button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-default">预览模板</button>
                    </div>
                    <div class="used" style="display: none">已使用</div>
                </div>
            </div>
        </div>
    </div>
</div>

{{/*
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" style="padding-bottom: 15%" tabindex="-1"  data-backdrop="static" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button id="modalClose" type="button" class="close"
                        aria-hidden="true">×
                </button>
                <h3 style="font-weight: 700" class="modal-title" id="editModalLabel">
                    简历信息<span style="font-size: 13px;font-weight: 300">(<span class="red">*</span>为必填)</span>
                </h3>
                <span class="form-label" id="pageTitle">基础信息</span>
                <span class="form-label" style="float: right"><span id="curPage">1</span>/5</span>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" autocomplete="off">

                    <div  id="page1" >
                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">更新链接<span class="red"></span></label>
                            <div class="col-sm-8">
                                <input id="myUid" type="hidden">
                                <div class="radio" style="margin-top:5px;float: left;border: 0px solid red;height: 35px;line-height: 15px;">
                                    <input style="outline: none !important;" type="radio" onclick="tipTip('更新链接将导致您之前分享的简历链接不可用')" name="updateUrl" id="updateUrl01" value="是" >
                                    <label for="updateUrl01">
                                        是
                                    </label>
                                </div>
                                <div class="radio" style="margin-top:5px;float: left;border: 0px solid red;height: 35px;line-height: 15px;margin-left: 8px;">
                                    <input tabindex="-1" type="radio"  name="updateUrl" id="updateUrl02" value="否" checked="">
                                    <label for="updateUrl02">
                                        否
                                    </label>
                                </div>
                                <br>
                                <div style="margin-top: 20px;font-size: 12px;color: #AEB7C2">
                                    <p>tips:更新链接将导致您之前分享的简历链接及二维码不可访问</p>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">姓名<span class="red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" style="ime-mode:disabled" id="name" placeholder="姓名" >
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">求职意向<span class="red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" maxlength="20" style="ime-mode:disabled" id="objective"  placeholder="求职意向">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">性别</label>
                            <div class="col-sm-8">
                                <div class="radio" style="margin-top:5px;float: left;border: 0px solid red;height: 35px;line-height: 15px;">
                                    <input style="outline: none !important;" type="radio" name="radio" id="radio1" value="男" checked="">
                                    <label for="radio1">
                                        男
                                    </label>
                                </div>
                                <div class="radio" style="margin-top:5px;float: left;border: 0px solid red;height: 35px;line-height: 15px;margin-left: 8px;">
                                    <input tabindex="-1" type="radio" name="radio" id="radio2" value="女">
                                    <label for="radio2">
                                        女
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">出生日期<span class="red">*</span></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="birthday" type="date" value="2018-01-01" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">手机<span class="red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" onkeyup="this.value=this.value.replace(/\D/g,'')" class="form-control" maxlength="11" style="ime-mode:disabled" id="phone"  placeholder="手机">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">邮箱<span class="red">*</span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="email" placeholder="邮箱" >
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div id="page2" style="display: none">

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">籍贯信息<span class="red"></span></label>
                            <div class="col-sm-8" id="distpicker" >
                                <select class="form-control" style="width: 48%;display: inline-block;" id="province" ></select>
                                <select class="form-control" style="width: 50%;display: inline-block;" id="city" ></select>
                                <select class="form-control " style="width: 33%;display: none;"  id="district" ></select>
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">居住地址<span class="red"></span></label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" maxlength="40"  id="address"  placeholder="居住地址">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">兴趣爱好</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" maxlength="60"  id="hobby"  placeholder="兴趣爱好">
                                <span class="help-block"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">荣誉证书<span class="red"></span></label>
                            <div class="col-sm-8">
                                <input class="form-control" id="honor" type="text" placeholder="荣誉证书" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label form-label">自我评价<span class="red">*</span></label>
                            <div class="col-sm-8">
                                <textarea id="introduce" class="form-control" style="min-height: 120px;resize: vertical"></textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div id="page3" style="display: none">
                        <div id="workWrap">
                            <div id="workItem" class="workItem" style="margin-top: 3px;padding-top: 5px;">
                                <div class="del4work" style="width: 100%;text-align: right;margin-top: -10px;display: none"><button class="btn btn-danger btn-xs" title="删除当前项"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
                                <div class="form-group alertPickDate">
                                    <label class="col-sm-3 control-label form-label">起止时间<span class="red"></span></label>
                                    <div class="col-sm-4" style="border: 0px solid red;">
                                        <input type="month" value="2018-01" class="form-control start">
                                    </div>
                                    <div class="col-sm-4" style="border: 0px solid red;">
                                        <input type="month" value="2018-01" class="form-control end">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">公司名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control companyName" maxlength="60"   placeholder="公司名称">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">职位名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control position" maxlength="60"   placeholder="职位名称">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">工作描述<span class="red"></span></label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" placeholder="工作描述" style="min-height: 120px;resize: vertical"></textarea>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="text-align: center;">
                                <button type="button" id="save4work" class="btn btn-primary" style="margin-top: 15px;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;新增当前项
                                </button>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div id="page4" style="display: none">
                        <div id="skillWrap">
                            <div class="skillItem" style="margin-top: 3px;padding-top: 5px;">
                                <div class="del4skill" style="width: 100%;text-align: right;margin-top: -10px;display: none"><button class="btn btn-danger btn-xs" title="删除当前项"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">技能名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control skillName" maxlength="60" placeholder="技能名称">
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">熟练度<span class="red"></span></label>
                                    <div class="col-sm-8">
                                        <input  class="slide" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="75"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="text-align: center;">
                                <button type="button" id="save4skill" class="btn btn-primary" style="margin-top: 25px;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;新增当前项
                                </button>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                    <div id="page5" style="display: none">
                        <div id="eduWrap">
                            <div class="eduItem" style="margin-top: 3px;padding-top: 5px;">
                                <div class="del4edu" style="width: 100%;text-align: right;margin-top: -10px;display: none"><button class="btn btn-danger btn-xs" title="删除当前项"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
                                <div class="form-group alertPickDate">
                                    <label class="col-sm-3 control-label form-label">起止时间<span class="red"></span></label>
                                    <div class="col-sm-4" style="border: 0px solid red;">
                                        <input type="month" value="2018-01" class="form-control start">
                                    </div>
                                    <div class="col-sm-4" style="border: 0px solid red;">
                                        <input type="month" value="2018-01" class="form-control end">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">学校/机构名称</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control school" maxlength="60" placeholder="学校/机构名称">
                                        <span class="help-block"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3 control-label form-label">教育信息<span class="red"></span></label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" placeholder="教育信息" style="min-height: 120px;resize: vertical"></textarea>
                                        <span class="help-block"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12" style="text-align: center;">
                                <button type="button" id="save4edu" class="btn btn-primary" style="margin-top: 15px;">
                                    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;新增当前项
                                </button>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div id="tip" style="text-align: center"></div>
                <button type="button" id="prev" class="btn btn-default" style="float: left;display: none" >
                    上一页
                </button>
                <button type="button" id="next" class="btn btn-default" >
                    下一页
                </button>
                <button type="button" id="preview" class="btn btn-success" style="display: none">
                    提交更新
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
*/}}


<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../../static/js/resume4made.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-slider/10.2.1/bootstrap-slider.min.js"></script>
<script src="../../static/plugins/citySelect/distpicker.data.js"></script>
<script src="../../static/plugins/citySelect/distpicker.js"></script>
<script src="../../static/js/util.js"></script>
<script>

    $(function () {
        $("#token", parent.document).val({{._xsrf}});
    });

    //获取所有模板
    var dataAll = [];
    var dataMade = [];
    var dataUse = [];
    var parentWin = window.parent;
    $.post("/index/resume/list", {_xsrf:{{._xsrf}}},function (r1) {
        if(r1.code==1){
            dataAll = r1.data;
            //获取已使用模板
            $.post("/main/resume/made", {_xsrf:{{._xsrf}}},function (r2) {
                if(r2.code==1){
                    dataMade = r2.data;
                    for(var i=0;i<dataAll.length;i++){
                        var eid = dataAll[i].Eid;
                        dataAll[i].isUse = false;
                        for(var j=0;j<dataMade.length;j++){
                            var rid = dataMade[j].Rid;
                            if(eid===rid){
                                var obj = dataMade[j];
                                obj.modelName = dataAll[i].Name;
                                obj.Theme = dataAll[i].Theme;
                                obj.Img = dataAll[i].Img;
                                dataUse.push(obj);
                                break;
                            }
                        }
                    }
                    $('#loading').fadeOut(200);
                    //渲染ui
                    $('#resumeWrap').html("");
                    parentWin.GlobalDataArr = dataUse;
                    for(var k=0;k<dataUse.length;k++){
                        var obj = dataUse[k];
                        var title = obj.modelName;
                        var type = obj.Theme;
                        var imgUrl = "/file/"+obj.Img;
                        var uid = obj.Uid;
                        var rid = obj.Rid;
                        $('#resumeWrap').append('<div class="col-md-3" >\n' +
                                '                <div class="resume-item">\n' +
                                '                    <div class="head">\n' +
                                '                        <h4 style="margin-bottom: 5px;margin-top: 5px;">'+title+'</h4>\n' +
                                '                        <div class="type">分类:'+type+'</div>\n' +
                                '                    </div>\n' +
                                '                    <img src="'+imgUrl+'">\n' +
                                '                    <div class="bottom">\n' +
                                '                        <button onclick="edit('+k+')" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;编辑简历</button>&nbsp;&nbsp;&nbsp;\n' +
                                '                        <button onclick="preview('+k+')" class="btn btn-success"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;预览简历</button>\n' +
                                '                    </div>\n' +
                                '                </div>\n' +
                                '            </div>')
                    }

                }
            });
        }

    });

    function edit(index) {
        console.log(dataUse[index]);
        var resume = dataUse[index];
        var unixTimestamp = new Date(resume.Created) ;
        var result = new Date(unixTimestamp).getTime();
        console.log(result);
        resume.Index = index;
        parentWin.renderForm(index);  //method为父页面的方法
        $('#wrapper',parent.document).hide(200);
        $('#madeModal',parent.document).modal("show");
    }
    function preview(index) {
        var sid = parentWin.GlobalDataArr[index].Sid;
        var url = "/share?v="+sid;
        window.open(url,"_blank");
    }

</script>

</body>
</html>